<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <script>
    // var arr = [ [7,7,8,9 ,[44444,88888,[4545454,5555555 ] ,{4545:5555}  ] ] , 1,2,1,3,5,4]
    // arr = arr.flat(4)
    // arr = [...new Set(arr)]  
    // function _flat (arr,num = 1) {
    //   // num == 'Infinity' ? 10 : num
    //   for(let i = 0; i < num; i++){
    //     arr = [].concat(...arr)
    //   }
    //   return arr
    // }
    // let array = [ 1, 2, 3, 4, 1, 1, 2, 2 ]
    // var obj = {}



    // var demo = array.reduce((pre,cur) => {
    //   	if(!pre.includes(cur)){
    //         return pre.concat(cur)
    //     }else {
    //         return pre
    //     }
    // },[])

    // var arr = [ [7,7,8,9 ,[44444,88888,[4545454,5555555 ] ,{4545:5555}  ] ] , 1,2,1,3,5,4 + ""]
    // function _flat (array) {
    //    return	array.reduce((pre,cur) => 
    //      	pre.concat(Array.isArray(cur) ? _flat(cur) : cur)   
    //     ,[]) 
    // }
    // var a = [arr + ""]

    // console.log(a)
    // console.log(demo)

    // function fruits(){}

    // fruits.prototype = {
    //     color: "red",
    //     say: function(){
    //         console.log("My color is " + this.color);
    //     }
    // };

    // var another = {
    //   say: function () {
    //     console.log(1545)
    //   }
    // };

    // another.__proto__ = fruits.prototype
    // another = fruits.call(another)
    // var apple = new fruits;
    // var apple2 = new fruits;
    // console.log(apple == apple2)
    // apple.say();                //My color is red
    // another.say(another);    //My color is yellow
    // apple.say.apply(another);   //My color is yellow


    // function foo(a, b) {
    //   console.log("a:" + a + ", b:" + b);
    // }
    // // 我们的 DMZ 空对象
    // var ø = Object.create(null);
    // // 把数组展开成参数
    // // foo.apply( ø, [2, 3] ); // a:2, b:3
    // // 使用 bind(..) 进行柯里化
    // var bar = foo.bind(ø,);
    // bar(5, 3); // a:2, b:3



  </script>
</body>

</html>